{% extends 'base.html.twig' %}

{% block title %}Ajouter un participant!{% endblock %}

{% block body %}
    <h1 class="mb-0">Ajouter un Participant</h1>
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
